---
const{ cluePosition } = Astro.props;
---
<div class="topBar">
    <div class="topBar-nav">
        <nav class="topBar-links">
            <a href="/docs">Quién soy</a>
            <a href="/blog">Mi trabajo</a>
        </nav>
    </div>
    <div>
        <span class="topBar-clue_1"></span>
        <span class="topBar-clue_2"></span>
    </div>
</div>


<style define:vars={{ cluePosition: cluePosition }}> 
    .topBar {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .topBar-nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid rgba(118, 113, 96, 20%);
        padding-right: 2.5em;
    }

    .topBar-links {
        display: flex;
    }

    .topBar-links a {
        text-decoration: none;
        font-family: 'Albert Sans', serif;
        color: var(--text);
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;
        border-left: 1px dashed  var(--light-brown)
    }

    .topBar-links a:first-child {
        border-left: none;
    }

    .topBar-clue {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 56px;
    }

    .topBar-clue_1,
    .topBar-clue_2 {
        position: absolute;
        height: .5rem;
        width: 300px;
        left: 0;
        opacity: 0;
    }

    .topBar-clue_1 {
        top: 56px;
        background: var(--light-brown);
    }

    .topBar-clue_2 {
        top:64px;
        margin-left: 56px;
        background: var(--yellow);
    }

    .animation-clue-1 {
        animation: clue_1_animation .5s ease-in-out forwards;
    }

    .animation-clue-2 {
        animation: clue_1_animation .3s .3s ease-in-out forwards;
    }

    @keyframes clue_1_animation {
        to {
            left: var(--cluePosition);
            opacity: 1;
        }
    }

    @media (width <= 780px) {
        .topBar-clue_1,
        .topBar-clue_2 {
            width: 150px;
        }
    }
</style>

