---
const{ cluePosition } = Astro.props;
import LanguagePicker from '../components/LanguagePicker.astro';
import NavWorksTopbar from '../components/NavWorksTopbar.astro';

import { useTranslations } from '../i18n/utils';
import { languageList } from '../i18n/ui';
const currentLang = Astro.currentLocale || 'es';
const translateLabels = useTranslations(currentLang as keyof typeof languageList);
import { getRelativeLocaleUrl } from 'astro:i18n';
---
<div class="topBar">
    <div class="topBar-nav">
        <LanguagePicker />
        <NavWorksTopbar />
        <nav class="topBar-links">
            <button class="open-dialog"><span class="material-symbols-outlined">mood</span> {translateLabels('hablamos')}</button>
        </nav>
    </div>
    
    <div class="topBar-clues">
        <span class="topBar-clue_1"></span>
        <span class="topBar-clue_2"></span>
    </div>
</div>

<style define:vars={{ cluePosition: cluePosition }}> 
    .topBar {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .topBar-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(118, 113, 96, 20%);
        padding: 0 2rem;
        position: fixed;
        background-color: var(--white);
        z-index: 2;
    }

    .topBar-links {
        display: flex;
    }

    .topBar-links button {
        text-decoration: none;
        font-family: 'Albert Sans', serif;
        color: var(--text);
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;
        gap: 8px;
        font-weight: 800;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }

    .topBar-links a:first-child {
        border-left: none;
    }

    .topBar-clue {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 56px;
    }

    .topBar-clues {
        position: relative;
        background-color: var(--light-gray);
        height: 16px;
        z-index: 1;
        margin-top: 57px;
    }

    .topBar-clue_1,
    .topBar-clue_2 {
        position: absolute;
        height: .5rem;
        width: 300px;
        left: 0;
        opacity: 0;
        z-index: 200;
    }

    .topBar-clue_1 {
        top: 0;
        background: var(--light-brown);
    }

    .topBar-clue_2 {
        top:8px;
        margin-left: 56px;
        background: var(--yellow);
    }

    .animation-clue-1 {
        animation: clue_1_animation .5s ease-in-out forwards;
    }

    .animation-clue-2 {
        animation: clue_1_animation .3s .3s ease-in-out forwards;
    }

    @keyframes clue_1_animation {
        to {
            left: var(--cluePosition);
            opacity: 1;
        }
    }

    .hablamos-dialog {
        max-width: 500px;
        padding: 2rem;
        border: none
        background-color: var(--white);
    }

    @media (max-width: 780px) {
        .topBar-clue_1,
        .topBar-clue_2 {
            width: 150px;
            left: 20% !important;
        }

        .topBar-nav {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        .topBar-links a {
            padding: 0 .5rem;
        }
}
</style>

<script>
   const topBarWorksLinks = document.querySelector('.topBar-nav-works-links ul');
   console.log(topBarWorksLinks);
   window.addEventListener('scroll', () => {
       if (window.scrollY > 0) {
           // Cuando el usuario hace scroll hacia abajo, añade la clase
           topBarWorksLinks?.classList.add('showWorksLinks');
       } else {
           // Cuando vuelve al top (scrollY = 0), elimina la clase
           topBarWorksLinks?.classList.remove('showWorksLinks');
       }
   });
</script>