---
const { overflow="clip" } = Astro.props;
---
<main>
<slot>
</main>

<style define:vars={{ overflow: overflow }}>
    main {
        position: relative;
        z-index: 1;
        overflow-x: var(--overflow);
    }
</style>