---
import { useTranslations } from '../i18n/utils';
import { languageList } from '../i18n/ui';
const currentLang = Astro.currentLocale || 'es';
const translateLabels = useTranslations(currentLang as keyof typeof languageList);

import { getRelativeLocaleUrl } from 'astro:i18n';
import Badge from '../components/Badge.astro';
import Card from '../components/Card.astro';
---

<section id="myWork">
    <div class="myWork-contenedor">
        <div class="myWork-title">
            <h1 class="header_section">{translateLabels('work.title')}</h1> 
            <h2 class="header_section_subtitle">{translateLabels('work.subtitle')}</h2>
        </div>
        <div class="myWork-projects-list">
            <Card 
            title={translateLabels('work.card1.title')}
            alt="Detalle del buscador de la App de Fotocasa"
            imagePath="/src/assets/fc_app.webp"
            projectUrl={getRelativeLocaleUrl(currentLang, "apps_fotocasa")}>
                <Badge badgeBG="var(--gold)">UX</Badge>
                <Badge badgeBG="var(--gold)">UI</Badge>
                <Badge badgeBG="var(--coral)">Apps</Badge>
            </Card>
            
            <Card 
            title="Dark Blob Cine"
            alt="Cabecera de una entrada del blog darkblobcine.com"
            imagePath="/src/assets/dark_home.webp"
            projectUrl={getRelativeLocaleUrl(currentLang, "darkblob")}>
            <Badge badgeBG="var(--gold)">UX</Badge>
            <Badge badgeBG="var(--gold)">UI</Badge>
            <Badge badgeBG="var(--gold)">Coding</Badge>
            <Badge badgeBG="var(--coral)">Apps</Badge>
            </Card>
            
            <Card 
            title={translateLabels('work.card3.title')}
            alt="Pantalla de búsqueda por trayecto de la App de Fotocasa"
            imagePath="/src/assets/commute_home.png"
            projectUrl={getRelativeLocaleUrl(currentLang, "trayecto")}>
            <Badge badgeBG="var(--gold)">Research</Badge>
            <Badge badgeBG="var(--gold)">UX</Badge>
            <Badge badgeBG="var(--gold)">UI</Badge>
            <Badge badgeBG="var(--coral)">Apps</Badge>
            <Badge badgeBG="var(--coral)">Web</Badge>
            </Card>
            
            <Card 
            title="Multi-theme Design System"
            alt="Detalle de los tokens de diseño de un sistema multi-tema"
            imagePath="/src/assets/system_home.webp"
            projectUrl={getRelativeLocaleUrl(currentLang, "system")}>
            <Badge badgeBG="var(--gold)">UX</Badge>
            <Badge badgeBG="var(--gold)">UI</Badge>
            <Badge badgeBG="var(--coral)">Apps</Badge>
            <Badge badgeBG="var(--coral)">Web</Badge>
            </Card>

            <Card 
            title={translateLabels('work.card5.title')}
            alt="Cabecera de un anuncio en la App de Habitaclia"
            imagePath="/src/assets/habitaclia_home.png"
            projectUrl={getRelativeLocaleUrl(currentLang, "apps_habitaclia")}>
            <Badge badgeBG="var(--gold)">UX</Badge>
            <Badge badgeBG="var(--gold)">UI</Badge>
            <Badge badgeBG="var(--coral)">Apps</Badge>
            </Card>

            <Card 
            title={translateLabels('work.card6.title')}
            alt="Pantalla de contacto con duplicados en la App de Fotocasa"
            imagePath="/src/assets/duplicates_home.png"
            projectUrl={getRelativeLocaleUrl(currentLang, "duplicados")}>
            <Badge badgeBG="var(--gold)">Research</Badge>
            <Badge badgeBG="var(--gold)">UX</Badge>
            <Badge badgeBG="var(--gold)">UI</Badge>
            <Badge badgeBG="var(--coral)">Apps</Badge>
            <Badge badgeBG="var(--coral)">Web</Badge>
            </Card>
        </div>
    </div>
</section>

<style>
    #myWork {
        background-color: var(--yellow);
        --aspa-small-top: -24%;
        --aspa-small-left: -9;
        --aspa-large-top: -60%;
        --aspa-large-left: -5%;
        --aspa-small-rotation: 20deg;
        --aspa-large-rotation: 10deg;
        --aspa-opacity: 0;
    }

    .myWork-contenedor {
        max-width: 1200px;
        margin: 0 auto;
        padding: 7.5rem 1.5rem;
    }

    .myWork-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .myWork-projects-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
        gap: 5rem;
        padding: 3rem 1.5rem;
        align-items: center;
    }

    @media (max-width: 1100px) {
        .myWork-contenedor {
            padding: 5rem 1rem;
        }
        .myWork-projects-list {
            padding: 3rem 0;
            gap: 2.5rem;
        }
    }
</style>